body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

header{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: right;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.hero{
    text-align: center;
    position: relative;
    height: 70vh;
    background-image: url('/static/slike/fitnes-ozadje.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-vsebina{
    position: relative;
    z-index: 2;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 17px 35px;
    background-color: #AAC4F5;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #AAC4F5;
    cursor: pointer;
}


/*Naslov ponudbe*/
.fitnes{
    padding: 60px 20px;
    background-color: #F4F8FF;
}

.fitnes h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    background-color: #eaeff9;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/*postavitev kartice*/
.karte{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/*posamezna karta*/
.karta{
    background-color: #D2E0FB;
    padding: 30px;
    width: 280px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow  0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*hover efekt*/
.karta:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.karta h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.karta p{
    margin: 10px 0;
    text-align: center;
}

.cena{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0;
}

/*manjši gumb*/
.btn-mail{
    display: inline-block;
    padding: 10px 20px;
    background-color: #AAC4F5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s;

}

.btn-mail:hover{
    background-color: #7ea0e0;
}

/* PRIJAVA/REGISTRACIJA*/

body{
    margin: 0;
    font-family: Lato, sans-serif;
    background: #c8c8c8;
}

/*OZADJE */
.prijava-ovitek{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/static/slike/prijava.jpg") no-repeat center;
    background-size: cover;
}

.prijava-vsebina{
    width: 100%;
    max-width: 500px;
    padding: 50px 40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    color: white;
}

.naslov{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.napaka{
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.prijava-forma{
    width: 100%;
}

.skupina{
    margin-bottom: 20px;
}

.oznaka{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ccc;
}

/*vnosno polje*/
.vnos{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background: rgba(255,255,255,0.15);
    color: white;
    font-size: 14px;
}

.vnos:focus{
    outline: none;
    background: rgba(255,255,255,0.25);
}

/*gumb*/
.gumb{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background: #AAC4F5;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.gumb:hover{
    background: #AAC4F5;
}

.spodnja-povezava{
    text-align: center;
    margin-top: 15px;
}

.spodnja-povezava a{
    color: #4cc9f0;
    text-decoration: none;
}

.spodnja-povezava a:hover{
    text-decoration: underline;
}

/*RAČUN*/

.racun{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
}

.racun-kartica{
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.racun-kartica h2{
    margin-bottom: 15px;
    color: #333;
}

.pozdrav{
    margin-bottom: 30px;
    font-size: 18px;
    color: #555;
}

.racun-gumbi{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.racun-btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    background-color: #009dff;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.racun-btn:hover{
    background-color: #004de6;
    transform: scale(1.05);
}

.odjava {
    background-color: #009dff;
}

.odjava:hover{
    background-color: #004de6;
}

.racun-pri {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: stretch;
    justify-content: center;
}

.racun-info {
    background: white;
    border-radius: 12px;
    padding: 2rem;
    min-width: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.racun-info h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.racun-kartica{
    background: white;
    border-radius: 12px;
    padding: 2rem;
    min-width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1);
    text-align: center;
}