body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

header{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: right;
}

header a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.hero{
    text-align: center;
    position: relative;
    height: 60vh;
    background-image: url('/static/slike/fitnes-ozadje.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-vsebina{
    position: relative;
    z-index: 2;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 17px 35px;
    background-color: #d1daeb;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover{
    background-color: #AAC4F5;
    cursor: pointer;
}

.ponudba{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
}