body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

header{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: right;
}

header a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: #eee;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #AAC4F5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover{
    background-color: #AAC4F5;
}

.ponudba{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
}