% rebase('osnovna.html', title='Admin - Nadzorna plošča', random=random)

<div class="racun-pri">
    <!--prikaz osnovnih info o adminu-->
    <div class="racun-info">
        <h3>Admin informacije</h3>
        <p><strong>Email:</strong> {{email}}</p>
    </div>


    <div class="racun-kartica">
        <h2>Admin panel</h2>
        <p class="pozdrav">Pozdravljeni <strong>{{ime}}</strong></p>

        <div class="racun-gumbi">
            <a href="/admin/trenerji/" class="racun-btn">Upravljanje trenerjev</a>
        </div>
    </div>
</div>
