<!DOCTYPE html>
<html lang = "sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css?v={{random}}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
    <body>
        <!--globalne spremenljivke (če niso podane iz backenda)-->
        % ime = globals().get('ime')
        % je_trener = globals().get('je_trener', False)
        % je_admin = globals().get('je_admin', False)
        
        <header class="navigacija">
            <div class="logo">
                <a href="/">Moj Fitnes</a>
            </div>

            <!--glavni meni-->
            <div class="menu">
                % if ime:
                    <span class="pozdrav">Pozdravljeni, {{ime}}!</span>

                    <!--prikaz ustreznega 'Moj račun' glede na vlogo-->
                    % if je_admin:
                        <a href="/admin/">Moj račun</a>
                    
                    % elif je_trener:
                        <a href="/trener/">Moj račun</a>
                    
                    % else:
                        <a href="/moj_racun/">Moj račun</a>

                    % end
                    <a href="/odjava/">Odjava</a>
                
                % else:
                    <a href="/prijava/">Prijava</a>
                    <a href="/registracija/">Registracija</a>
                % end
            </div>
        </header>

        <!--tukaj pride vsebina posameznih strani-->
        {{!base}}
</body>
</html>
