% rebase('osnovna.html', title='Prijava', random=random)

<div class="prijava-ovitek">
    <div class="prijava-vsebina">

        <h2 class="naslov">Prijava</h2>

        % if napaka:
        <p style="color:red;">{{napaka}}</p>
        % end

    <form method="post" action="/priavaja/" class="prijava-forma">
        <div class="skupina">
            <label class="oznaka">Email</label>
            <input type="email" name="email" class="vnos" required>
        </div>

        <div class="skupina">
            <label class="oznaka">Geslo</label>
            <input type="geslo" name="geslo" class="vnos" required>
        </div>

        <div class="skupina">
            <button type="submit" class="gumb">Prijava</button>
        </div>

        <div class="spodnja-povezava">
            <p>Še nimate računa? <a href="/registracija/">Registrijaj se</a></p>
        </div>


    </form>

    </div>
</div>




</section>




