% rebase('osnovna.html', title='Registracija', random=random)

<section class="registracija">
<h2>Registracija</h2>

    % if napaka:
        <p style="color: red;">{{napaka}}</p>
    % end

<form method="post" action="/registracija/">

    <label>Ime:</label>
    <input type="text" name="ime" required>

    <label>Priimek:</label>
    <input type="text" name="priimek" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Telefon:</label>
    <input type="text" name="telefon" required>

    <label>Geslo:</label>
    <input type="password" name="geslo" required>

    <button type="submit">Ustvari račun</button>
</form>
</section>