% rebase('osnovna.html', title='Registracija', random=random)

<div class="reg-ovitek">
    <div class="prijava-html"

        <h2>Registracija</h2>

        % if napaka:
            <p style="color: red;">{{napaka}}</p>
        % end

        <form method="post" action="/registracija/" class="reg-forma">
            <div class="skupina">
                <label class="oznaka">Ime:</label>
                <input type="text" name="ime" class="vnos" required>
            </div>

            <div class="skupina">
                <label class="oznaka">Priimek:</label>
                <input type="text" name="priimek" class="vnos" required>
            </div>

            <div class="skupina">
                <label class="oznaka">Email:</label>
                <input type="text" name="email" class="vnos" required>
            </div>

            <div class="skupina">
                <label class="oznaka">Telefon:</label>
                <input type="text" name="telefon" class="vnos" required>
            </div>

            <div class="skupina">
                <label class="oznaka">Geslo:</label>
                <input type="text" name="geslo" class="vnos" required>
            </div>

            <div class="skupina">
                <button type="submit" class="gumb">Ustvari račun</button>
            </div>

            <div class="spodnja-povezava">
                <p>Že imate račun? <a href="/prijava/">Prijavi se</a></p>
            </div>
        </form>
    </div>
</div>
