% rebase('osnovna.html', title='Moj Fitnes', random=random)




<!---glani naslov-->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-vsebina">
        <h1>Moj Fitnes</h1>
        <a href="/registracija/" class="btn">Včlani se</a>
    </div>
</section>

<!--Ponudba storitev-->
<section class="fitnes">
    <h2>FITNES KARTE</h2>
    <div class="karte">

        <div class="karta">
            <h3>Dnevna karta</h3>
            <p>Poln dostop do fitnesa za 1 dan</p>
            <p class="cena"> 5€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>

        <div class="karta">
            <h3>Mesečna karta karta</h3>
            <p>Neomejen dostop 31 dni</p>
            <p class="cena"> 35€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>

        <div class="karta">
            <h3>Letna karta</h3>
            <p>Neomejen dostop za 365 dni</p>
            <p class="cena"> 300€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>
    </div>
</section>

<!---naša ponudba--> 
<section class="ponudba">
    <h2>KAJ PONUJAMO</h2>
    <div class="ponudba-karte">


        <div class="ponudba-karta">
            <img src="/static/slike/pilates.jpg" alt="Pilates">
            <div class="ponudba-naziv">Pilates</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/joga.jpg" alt="Joga">
            <div class="ponudba-naziv">Joga</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/hyroxs1.jpg" alt="Hyroxs">
            <div class="ponudba-naziv">Hyrox</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/skupinska.jpg" alt="Skupinska">
            <div class="ponudba-naziv">Različne skupinske vadbe</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/spining.jpg" alt="Spining">
            <div class="ponudba-naziv">Spinning</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/prehrana.jpg" alt="Prehrana">
            <div class="ponudba-naziv">Prehranskega strokovnjaka</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/osebni.jpg" alt="Osebni">
            <div class="ponudba-naziv">Osebno trenerstvo</div>
        </div>

        <div class="ponudba-karta">
            <img src="/static/slike/sauna.jpg" alt="Savne">
            <div class="ponudba-naziv">Osebno trenerstvo</div>
        </div>
    </div>

    <div class="ponudba-gumb">
        <a href="/ponudba/" class="btn">Preveri ponudbo</a>
    </div>


</section>