% rebase('osnovna.html', title='Moj Fitnes', random=random)




<!---glani naslov-->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-vsebina">
        <h1>Moj Fitnes</h1>
        <a href="/registracija/" class="btn">Včlani se</a>
    </div>
</section>

<!--Ponudba storitev-->
<section class="fitnes">
    <h2>FITNES KARTE</h2>
    <div class="karte">

        <div class="karta">
            <h3>Dnevna karta</h3>
            <p>Poln dostop do fitnesa za 1 dan</p>
            <p class="cena"> 5€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>

        <div class="karta">
            <h3>Mesečna karta karta</h3>
            <p>Neomejen dostop 31 dni</p>
            <p class="cena"> 35€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>

        <div class="karta">
            <h3>Letna karta</h3>
            <p>Neomejen dostop za 365 dni</p>
            <p class="cena"> 300€</p>
            <a href="/registracija/" class="btn-mail"> Izberi</a>
        </div>
    </div>
</section>