% rebase('osnovna.html', title='Trener - Nadzorna plošča', random=random)

<div class="racun-pri">
    <div class="racun-info">
        <h3>Moje informacije</h3>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Specializacija:</strong> {{specializacija}}</p>
    </div>

    <div class="racun-kartica">
    <h2>Nadzorna plošča</h2>
    <p class="pozdrav">Pozdravljeni <strong>{{ime}}</strong></p>

        <div class="racun-gumbi">
            <a href="/trener/termini/" class="racun-btn">Moji termini</a>
            <a href="/trener/prosti_termini/" class="racun-btn">Prosti termini</a>
        </div>
    </div>
</div>