% rebase('osnovna.html', title='Moj račun', random=random)

<div class="racun-pri">
    <div class="racun-info">
        <h3>Moje inforamcije</h3>

        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Telefon:</strong> {{telefon}}</p>
    </div>


    <div class="racun-kartica">
        <h2>Pregled</h2>
        <p class="pozdrav">Pozdravljeni <strong>{{ime}}</strong></p>

        <div class="racun-gumbi">
            <a href="/moje_karte/" class="racun-btn">Moje karte</a>
            <a href="/prosti_termini/" class="racun-btn">Prosti termini</a>
            <a href="/moje_rezervacije/" class="racun-btn">Moje rezervacije</a>
        </div>
    </div>


</div>
