% rebase('osnovna.html', title='Moj račun', random=random)

<div class="racun">
    <div class="racun-kartica">
        <h2>Moj račun</h2>
        <p class="pozdrav">Pozdravljeni <strong>{{ime}}</strong></p>

        <di class="racun-info">
            <p><strong>Email:</strong>{{email}}</p>
            <p>strong>Telefon:></p>
        </di>
        <div class="racun-gumbi">
            <a href="/moje_karte/" class="racun-btn">Moje karte</a>
            <a href="/termini/" class="racun-btn">Prosti termini</a></li>

        </div>
    </div>
</div>

/*/